@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #112f2a;
  --secondary: #ffa317;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-primary: var(--font-manrope);
  --font-secondary: Arial, Helvetica, sans-serif;
  --font-tertiary: var(--font-caveat);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
